.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-create{
  width: 450px;
}
.task-update{
  width: 230px;
}
.task-form{
  display: flex;
  flex-direction: column;
}
.task-label{
  margin: 10px 0px;
}
.task-input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  
}
.task-button{
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid green;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.task-list{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.task-show{
  border: 1px solid green;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.btn-delete{
padding: 10px;
width: 100px;
margin-right: 10px;
border: none;
border-radius: 30px;
background-color: red;
color: white;
font-size: 15px;

}
.btn-update{
  padding: 10px;
  width: 100px;
  margin-right: 10px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
}
.task-title{
  margin-bottom: 5px;
}
.update-button{
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid green;
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}